*{box-sizing:border-box;}   /* 'box-sizing' property defines how the width and height of an element are calculated */
    /* 'border-box' defines that the width and height properties (and min/max properties) includes content, padding and border */


header {background-color: #2850d3;
        text-align: center;
        color:white;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        animation-name: HeaderAnimation;
        animation-duration: 0.5s;
}
/*↓ establishing styling attributes for keyframes in Header Animation*/

#welcome{   font-family:Verdana, Geneva, Tahoma, sans-serif;
            font-size: 50 px;
            padding:15px}
        
/*↓  establishing styling for the left side if the header*/
#leftHead{  flex: 50%;}

#userInput{ margin-top: 30px; width: 60px;}

/*↓  establishing styling attributes for right side of header*/
#navbar {display: flex;
        flex: 50%;
        justify-content:flex-end;      
}

/*↓  establishing styling attributes for all the <a> in class NavBar*/
#navbar>a { text-decoration: none;
    color: white;
    width: 30%;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
    padding: 40px 0px;
}

/*↓ establishing styling attributes for hover in <a> NavBar*/
#navbar>a:hover{
    background-color: rgb(44, 238, 131)
}

/*↓ establishing styling attributes for the body*/
body{   min-height: 100vh;
        display:flex;
        background-color:#edf2c3;
        flex-direction: column;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;}
#background-video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
                }        

/*↓ establishing parametres for the gallery*/
.gallery{position: relative;margin-top: auto;}   /*Positioning the image container, necesary for the ← → arrows */
#converterContainer {   background-color: #6c6565;
                        width: 30%;
                        margin: 0 35%;
                        border-radius: 30px;
                        text-align: center;
                        position:relative;
                        margin-top: 30px;
                        margin-bottom: 30px;
                        }


.mySlides {display: none;      /*Making the Slide to be hidden by default*/
           padding-top:15px}
.cursor{cursor: pointer;}       /*Adding a pointer when hovering above the thumbnail images */
.demo {opacity: 0.6;}           /*removing some opacity for thumbnail images */
.active, .demo:hover{opacity: 1}/*getting solid again*/

.captionContainer {                                      /*Container for the Image*/
                    text-align: center;
                    background-color: #222;
                    padding: 2px 16px;
                    border-radius: 0 0 30px 30px;
                    color: white;
}

.row:after{
            content: "";
            display: table;
            clear: both;
}

.column {               /* 4 columns side by side, 11.11% = 100/4 */
        float: left;
        width: 25%;
}

.anInput{width: 5%;}  /*I legitimately dont know why I have this at this poiint*/

/*↓ establishing styling attributes for the footer*/
footer {margin-top:auto;
        background-color:#667dca;
        color: white;
        text-align: end;
        display: flex;
        justify-content:space-between; 
}
@keyframes HeaderAnimation {                            /* Setting the start and end state of the animation loop for the header */
    0%  {color:#2850d3;font-size: 100px; opacity: 0.3; padding: 15px;}
    50%{font-size: 60px;opacity: 0.7;}
    100%{color:white;opacity: 1; padding: 15px;}       
}
/*↓ Responsiveness vissition us at the last minute*/
@media screen and (max-width: 768px) {                     
        .NavBar, section{ flex-direction: column;}
        .NavBar>a{      justify-content:center;
                        font-size: 10px;                           
                        width: 80%;
                        margin:5px 10%;}
        h1{             font-size: 20px;}
        #background-video {display: none}
        body {background: url("https://assets.codepen.io/6093409/river.jpg") no-repeat;
                background-size: cover
                }
}    